@import '../../variables';

.pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right bottom, $color-surface 25%, $primary-color-light 70%);
    min-width: 100vw;
    min-height: 100vh;
}